.env
*.env
terraform.tfvars
*.tfvars

# Python
__pycache__/
*.pyc
.venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# AWS credentials (never commit!)
*.pem
aws_credentials

# Docker
*.tar
*.img

# VS Code
.vscode/
.local_resource/.DS_Store
.DS_Store